body {
    height: 100%;
}

nav {
    margin: 15px 20px 20px 20px;
    width: auto;
    height: 25px;
}

ul {
    display: inline-block;
}

#right {
    float: right;
}

ul li {
    display: inline-block;
    font-size: 13px;
    font-family:  Arial, Helvetica, sans-serif;
    padding: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a img{
    height: 25px;
    width: 25px;
}

#button {
    padding: 12px 25px 12px 25px;
    background-color:#2b7de9;;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: default;
}

 .underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

#button:hover {
    text-decoration: none;
    background-color: #4285f4;
}

main {
    height: 434px;
}

.main_container {
    height: 300px;
    width: auto;
}

#logo {
    width: auto;
    height: 250px;
    margin-top: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#searchbar {
    width: auto;
    display: flex;
    justify-content: center;
    height: 100px;
    position: relative;
    bottom: 35%;
}

.container {
    border: 1px solid lightgray;
    width: 550px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.container:hover {
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input {
    width: 450px;
    outline: none;
    background-color: transparent;
    border: none;
}

.search_icon {
    width: 15px;
    height: 15px;
    position: relative;
    top: 14px;
    right: 22px;
}

.microphone_icon {
    height: 25px;
    width: 15px;
    position: relative;
    top: 7px;
    left: 10px;
    cursor: pointer;
}